@font-face {font-family: "iconfont";
  src: url('../img/123/iconfont.eot?t=1488469241496'); /* IE9*/
  src: url('../img/123/iconfont.eot?t=1488469241496#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../img/123/iconfont.woff?t=1488469241496') format('woff'), /* chrome, firefox */
  url('../img/123/iconfont.ttf?t=1488469241496') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../img/123/iconfont.svg?t=1488469241496#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.clear:after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	clear: both;
}
body{
	font-size: 15px;
}

header{
	display: block;
	width:100%;
	height: 40px;
	background-color: #f3f7fa;    
    padding-top: 30px;
    z-index: 99999;
    position: relative;
}
.neikuan{
	width:1268px;
	margin:0 auto;
}
.logo{
	width:50%;
	float: left;
	line-height:20px;
	color: #cc9900;
    display: block;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    z-index: 99999;
}

.nav{
	width:50%;
    float: right;
    line-height: 20px;
    z-index: 99999;
}
.nav ul li{
    float: left;
    cursor: pointer;
    font-size: 20px;
    border-radius: 6px;
    padding: 5px 35px;
    z-index: 99999;
}
.nav ul li:hover{
	color: white;
    background-color: #cc9900;
}
.col-sm-none{
	display: none!important;
}

.bannerbox{
	height:100%; 
	width: 100%;
}
.banner{
	height:100%; 
	background-image: url(../img/tm-home-img.jpg);
	background-repeat: no-repeat;
	background-size: cover ;
}

.shiyan{
	width: 100%;
	height:300px;
	background: #eee;
	margin-bottom: 20px;
}
.nk{
	width: 80%;
	margin: 0 auto;
}
.bt{
	height: 100px;
	font-size: 36px;
	text-align: center;
	line-height: 100px;
	color: #cc9900;
}
.nr{
	height: 150px;
	font-size: 20px;
	text-align: center;
	line-height: 36px;
}
.zz{
	height: 100px;
	font-size: 20px;
	text-align: right;
	line-height: 20px;
}
.xc_box{
	width: 100%;
	margin: 0 auto;
}

.xiangce{
	margin-bottom: 10px;
}

.box1{
	width: 25%;
	float: left;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}

.box1_tu{
	width: 310px;
	height: 180px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.box1_bt{
	width: 300px;
	height: 30px;
	font-size: 15px;
	color: #cc9900;
	margin: 0 auto;
	
}
.box1_zi{
	width: 310px;
	height: 100px;
	font-size: 14px;
	color: #8c8c8c;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin-bottom: 15px;
  	margin: 0 auto;
}
.box1_btn{
	width: 121px;
	height: 45px;
	background:#cc9900;
	color: #fff;
	font-size: 18px; 
	text-align: center;
	line-height: 45px;
	border-radius: 6px;
	margin: 0 auto;
}

.dibuxinxi{
	height: auto;
	overflow: hidden;
	background-image: url(../img/classic-pattern-bg.png);
	padding-right: 30px;
}
.dibu_neikuan{
	width: 80%;
	margin: 0 auto;
	padding-top: 30px;

}
.gerenzhao{
	width: 25%;
	float: left;
	margin: 0 auto;
	margin-bottom: 40px;
}
.gerenzhao .iconfont:first-child{
	font-size: 40px;
}
.grz{
	width: 317.5px;
	height: 50px;
	text-align: center;
	font-size: 18px;
	color: #cc9900;
	margin: 0 auto;
	
}
.grz_tu{
	width: 317.5px;
	height: 310px;
	background-image: url(../img/wo.jpg);
	background-position: center;
	background-size: cover;
	margin: 0 auto;
}
.grjl{
	height:45px;
	font-size: 15px;
	color: #fff; 
	margin-left: 80px;
	line-height: 38px;
}
.jn{
	margin-left: 30px;
	margin-bottom: 15px;
	display: block;

}
/*.zn_tu{
	width: 80px;
	height: 80px;
	float: left;
	margin-left: 12px;
	overflow: hidden;
}*/
.ps{
	width: 60px;
	height: 60px;
	float: left;
	margin-left: 12px;
	margin-right: 12px;
	overflow: hidden;
	background-image: url(../img/1d.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.ai{
	width: 60px;
	height: 60px;
	margin-left: 12px;
	float: left;
	margin-right: 12px;
	overflow: hidden;
	background-image: url(../img/a3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.wps{
	width: 60px;
	height: 60px;
	margin-right: 12px;
	float: left;
	margin-left: 12px;
	overflow: hidden;
	background-image: url(../img/be.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.html5{
	width: 60px;
	height: 60px;
	margin-right: 12px;
	float: left;
	margin-left: 12px;
	overflow: hidden;
	background-image: url(../img/t016eb2b747f1d86d27.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.zn_jidu{
	width: 200px;
	height: 40px;
	float: left;
	border: 2px solid #fff;
	margin-top: 10px;
	margin-right: 10px;
}
.nl1{
	height: 100%;
	width:80%;
	background: #cc9900; 
}
.nl2{
	width:60%;
	height: 100%;
	background: #cc9900; 
}
.nl3{
	width:50%;
	height: 100%;
	background: #cc9900; 
}
.nl4{
	width:78%;
	height: 100%;
	background: #cc9900; 
}
.zpz{
	width: 100%;
	height:auto;
	margin: 0 auto;

}
.zp1{
	
	
	background-image: url(../img/niwu/光跑鞋.jpg);
}

.zp2{
	
	
	background-image: url(../img/niwu/大白.jpg);
}

.zp3{
	
	
	background-image: url(../img/zuhe/美女.jpg);
}

.zp4{
	
	
	background-image: url(../img/niwu/蜡烛.jpg);
}

.zp5{
	
	
	background-image: url(../img/niwu/灯泡.jpg);
}

.zp6{
	
	
	background-image: url(../img/zuhe/魔女.jpg);
}
.zp{
	width: 33.3%;
	height: 100px;
	background-size:100% 100%;
	float: left;

}








@media screen and (max-width: 1068px){
.neikuan{
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;

}
.nav ul li{
	margin-right: 0px;
	padding: 5px 18px;
}
.jn{
	width: 75%;float: none;
	margin: 0 auto;
}
.bannerbox{
	height:3rem; 
	width: 100%;
}
.bt{
	font-size: 32px;
}
.nr{
	font-size: 22px;
}
.banner{
	height:3rem; 
	background-image: url(../img/tm-home-img.jpg);
	background-size:  100%;
}

.box1{width: 50%;
}
.gerenzhao{
	width: 50%;
}
.zp{
	width: 50%;
	height: 0.8rem;
	margin:0 auto;
}
.grjl{
	margin-left: 80px;
}
}

/*小屏*/
@media screen and (max-width: 735px){
	.col-sm-none{
	display: block!important;
	margin-left: 150px;
}
.nav_ul{
	padding-left: 
}
	.box{
		display: none!important;
	}
.zp{
	height: 2.5rem;
	margin:0 auto;
	background-size: 80%;
	float: none;
}
.bt{
	font-size: 28px;
}
.box1_btn{
	margin-bottom: 20px;
}
.nr{
	font-size: 16px;
}
.zpz{
	margin: 0 auto;
	
}
.box1{width: 100%;
	margin: 0 auto;
}
.gerenzhao{
	width: 100%;
	float: none;
}
.jn{
	width: 50%;
	margin: 0 auto;
	float: none;
	display: block;	
}
.wdjn{
	padding-left: 50px;
}
.grjl{
	margin-left: 180px;
}

}
